<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8"/>
    <meta value="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>KLANGKELLER Bandkalender</title>
    <link rel="stylesheet" href="/static/style.css"/>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="year-week">
          <h4 id ="year" class="year">2019</h4>
          <h4 id="wochennummer" class="week">Woche {{  wochennummer  }}</h4>
        </div>
        <div class="flex">
          <button class="back" id="nextb"> </button>
          <h3 id="woche_von_bis" class="date">{{  wosta  }} - {{  woend  }}</h3>
          <button class="forw" id="forwb"></button>
        </div>
        <button id="submit" class="submit" type="submit">Submit</button>
      </header>
      <table>
        <tr class="first-row">
          <th> </th>
          <th>Mo</th>
          <th>Di</th>
          <th>Mi</th>
          <th>Do</th>
          <th>Fr</th>
          <th>Sa</th>
          <th>So</th>
        </tr>

        {% for list in cols %} 
        <tr>
          <td class="time">{{  loop.index  }}:00 </td>
        {% for elem in list %} 
          <td>
            <input class="reserve" type="checkbox" value="{{  elem  }}"/>
          </td>
        {% endfor %}
        </tr>
        {% endfor %}
        
        <!--
        <tr>
          <td class="time">00:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="1"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="26"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="51"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="76"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="101"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value=""/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value=""/>
          </td>
        </tr>
        <tr>
          <td class="time">01:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="2"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="27"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="52"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="77"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="102"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="117"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="132"/>
          </td>
        </tr>
        <tr>
          <td class="time">02:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="3"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="28"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="53"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="78"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="103"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="118"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="133"/>
          </td>
        </tr>
        <tr>
          <td class="time">03:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="4"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="29"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="54"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="79"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="104"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="119"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="134"/>
          </td>
        </tr>
        <tr>
          <td class="time">04:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="5"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="30"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="55"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="80"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="105"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="120"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="135"/>
          </td>
        </tr>
        <tr>
          <td class="time">05:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="6"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="31"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="56"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="81"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="106"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="121"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="136"/>
          </td>
        </tr>
        <tr>
          <td class="time">06:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="7"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="32"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="57"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="82"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="107"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="122"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="137"/>
          </td>
        </tr>
        <tr>
          <td class="time">07:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="8"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="33"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="58"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="83"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="108"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="123"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="138"/>
          </td>
        </tr>
        <tr>
          <td class="time">08:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="9"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="34"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="59"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="84"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="109"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="124"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="139"/>
          </td>
        </tr>
        <tr>
          <td class="time">09:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="10"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="35"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="60"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="85"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="110"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="125"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="140"/>
          </td>
        </tr>
        <tr>
          <td class="time">10:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="11"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="36"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="61"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="86"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="111"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="126"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="141"/>
          </td>
        </tr>
        <tr>
          <td class="time">11:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="12"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="37"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="62"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="87"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="112"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="127"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="142"/>
          </td>
        </tr>
        <tr>
          <td class="time">12:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="13"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="38"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="63"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="88"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="113"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="128"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="143"/>
          </td>
        </tr>
        <tr>
          <td class="time">13:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="14"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="39"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="64"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="89"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="114"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="129"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="144"/>
          </td>
        </tr>
        <tr>
          <td class="time">14:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="15"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="40"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="65"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="90"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="115"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="130"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="145"/>
          </td>
        </tr>
        <tr>
          <td class="time">15:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="16"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="41"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="66"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="91"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="116"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="131"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="146"/>
          </td>
        </tr>
        <tr>
          <td class="time">16:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="17"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="42"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="67"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="92"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="117"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="132"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="147"/>
          </td>
        </tr>
        <tr>
          <td class="time">17:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="18"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="43"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="68"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="93"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="118"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="133"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="148"/>
          </td>
        </tr>
        <tr>
          <td class="time">18:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="19"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="44"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="69"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="94"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="119"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="134"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="149"/>
          </td>
        </tr>
        <tr>
          <td class="time">19:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="20"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="45"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="70"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="95"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="120"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="135"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="150"/>
          </td>
        </tr>
        <tr>
          <td class="time">20:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="21"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="46"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="71"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="96"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="121"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="136"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="151"/>
          </td>
        </tr>
        <tr>
          <td class="time">21:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="22"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="47"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="72"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="97"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="122"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="137"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="152"/>
          </td>
        </tr>
        <tr>
          <td class="time">22:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="23"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="48"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="73"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="98"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="123"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="138"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="153"/>
          </td>
        </tr>
        <tr>
          <td class="time">23:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="24"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="49"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="74"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="99"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="124"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="139"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="154"/>
          </td>
        </tr>
        <tr>
          <td class="time">24:00 </td>
          <td> 
            <input class="reserve" type="checkbox" value="25"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="50"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="75"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="100"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="125"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="140"/>
          </td>
          <td> 
            <input class="reserve" type="checkbox" value="155"/>
          </td>
        </tr>
        -->
      </table>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>